.menu{
    &_img{
        padding: 85px 50px;
        padding-bottom: 0;
        img{
            border-radius: 8px;
        }

        .img_left-wrap, .img-rightTop, .img-rightBottom{
            position: relative;
        }

        &-title{
            position: absolute;
            top: 3rem;
            left: 3rem;
            p{
                display: grid;
                font-size: $text-size;
                color: white;
                font-weight: 400;
                text-transform: uppercase;

                span{
                    font-size: 2.4rem;
                    font-weight: 500;
                    margin-top: 4px;
                }
            }
        }

        &-left{
            img{
                width: 100%;
                height: 420px;
                object-fit: cover;
            }
        }
    
        &-right{
            flex-direction: column;
            display: flex;
            justify-content: space-between;
            
            img{
                height: 192px;
                object-fit: cover;
                width: 100%;
            }

            .img-rightTop{
                p{
                    span{
                        width: 60%;
                    }
                }
            }
        }
    }

    &_btn{
        display: flex;
        justify-content: center;
        margin-top: 7rem;
        p{
            display: inline-block;
            padding: 1.4rem 2.2rem;
            background-color: $primary-colorLight;
            font-size: 1.8rem;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: -1px;
        }
    }

    &_order{
        &Title{
            p{
                font-family: "Alfa Slab One";
                font-size: 4rem;
                text-transform: uppercase;
                text-align: center;
                margin: 4rem 0;
            }
        }

        &Des{
            display: flex;
            justify-content: center;
            p{
                width: 80%;
                text-align: center;
                line-height: 1.4;
                font-size: 1.8rem;
                margin-bottom: 6.5rem;    
            }
        }

        &Burger{
            li{
                display: flex;
                flex-direction: column;
                align-items: center;

                .burger{
                    &_img{
                        margin-bottom: 7rem;
                        position: relative;
                        img{
                            height: 27rem;
                            object-fit: contain;
                            width: 100%;
                        }
                    }
                    &_title{
                        p{
                            font-size: 2.8rem;
                            font-weight: 700;
                            text-transform: uppercase;
                            margin-bottom: 2.3rem;
                        }
                    }
                    &_des{
                        p{
                            font-size: 1.8rem;
                            text-align: center;
                            margin-bottom: 3.6rem;
                        }
                    }
                    &_btn{
                        p{
                            font-family: "Alfa Slab One";
                            text-transform: uppercase;
                            font-size: $text-size;
                            color: white;
                            padding: 2.2rem 3.8rem;
                            background-color: #bf2222;
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
}