//text
$font : 'Roboto', sans-serif;

//font-size
$text-size: 1.6rem;
$text-title: 2rem;
$text-subTitle: 1.8rem;

//font-color
$text-color: #3d2514;
$heading-color: #0B132A;

//color theme
$primary-color: #3d2514;
$primary-colorLight:#ffc045;
