//text
$font : 'Roboto', sans-serif;

//font-size
$text-header-nav: 21px;
$text-size-sm: 17px;
$text-size-md: 12px;
$text-title: 20px;
$text-subTitle: 18px;

//font-color
$text-color: #3d2514;
$heading-color: #0B132A;

//color theme
$primary-color: #F53838;
$primary-colorLight: #FFECEC;
$gray-color: #DDE0E4;
$gray-colorLight: #EEEFF2;
$list-color: #2FAB73
