//text
$font : 'Roboto', sans-serif;

//font-size
$text-size: 16px;
$text-title: 20px;
$text-subTitle: 18px;

//font-color
$text-color: #3d2514;
$heading-color: #0B132A;

//color theme
$primary-color: #3d2514;
$primary-colorLight:#ffc045;
