section{
    padding-bottom: 8rem;
}

//display
.d-flex{
    display: flex
}

.d-inline-bl{
    display: inline-block;
}

//justify
.justify-content-end{
    justify-content: end
}

.justify-content-sb{
    justify-content: space-between;
}

//align
.align-item-center{
    align-items: center;
}

.align-item-start{
    align-items: flex-start;
}

//shadow
.shadow{
    width: 90%;
    height: 20px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 0px 68px 14px rgba(0, 0, 0, .4);
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    &.white{
        width: 80%;
        height: 60%;
        top: 136px;
        box-shadow: 0px -130px 150px rgb(255 255 255 / 45%);
    }
}

