section{
    padding: 78px 0;
}

//display
.d-flex{
    display: flex
}

.d-inline-bl{
    display: inline-block;
}

.justify-content-end{
    justify-content: end
}

.justify-content-sb{
    justify-content: space-between;
}

.aligt-item-center{
    align-items: center;
}

