.btn{
    font-size: 20px;
    font-weight: 400;
    padding: 4px 20px;
    color: $text-color;
    border: 1px solid $primary-color;
    
    &-signIn{
        background-color: $primary-color;
    }

    &-join{
        color: $primary-color;
        background-color: transparent;
    }
}