header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 101;
    transition: .4s;
    padding-top: 50px;
    &.active{
        background-color: rgba(#fff, .8);
    }
}

.header{
    &_wrap{
        transition: .4s;
        &.active{
            transform: translateY(-10px);            
        }
    }

    &_top{
        & .delivery{
            img{
                width: 41px;
            }
            p{
                font-weight: 700;
                padding-left: 10px;
            }
        }

    }
    &_nav{
        ul{
            li{
                a{
                    font-weight: 700;
                    padding: 10px 25px;
                }

                &:last-child{
                    a{
                        padding-right: 0;
                    }
                }
            }
        }
    }
}