header{
    background-color: $heading-bgColor;
}

.header{
    &_container{
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &_logo{
        font-size: 24px;
        font-weight: 700;
    }

    &_btnWr{
        width: 200px;
        display: flex;
        justify-content: space-between;
    }
}