
@include responsive ('ipad-horizontal'){

}

@include responsive ('ipad-vertical'){
    .home{
        &_title{
            margin-left: 50px;
            margin-bottom: 50px;
        }
        &_img{
            &Wrap{
                margin-left: 50px;
            }
        }
    }

    #menu{
        padding-bottom: 0;
    }

    .menu{
        &_img{
            padding: 5rem 0;
            padding-bottom: 0;

            &-left, &-right{
                img{
                    height: 250px;
                }
            }

            &-right{
                .img-rightTop p span {
                    width: unset;
                }
            }

            &-title{
                width: 40%;
                p span{
                    width: unset;      
                }
            }

            a{
                margin-bottom: 10px;
            }
        }

        &_orderDes p{
            width: 90%;      
        }

        &_orderBurger li{         
            margin-bottom: 40px;
        }
    }

    .discover{
        &_title{
            margin-top: 0;
            margin-left: 0;
            text-align: center;
        }

        &_des{
            margin-left: 0;
            margin-bottom: 20px;
        }
    }

    .contact{
        &_header{
            & > img{
                display: none;
            }
        }

        &_heading{
            position: unset;
        }

        &_content{
            .img_left, .img_right{
                display: none;
            }
        }

        &_form{
            margin-right: 0;
        }
    }

    footer{
        background-image: url(../imgs/Layer.psb.png);
        background-size: cover;
        background-position: center;
        background-color: rgba(0, 0, 0, 0.99);

        .footer{
            &_container{
                background: none;
                padding: 0;
            }

            &_des{
                width: unset;
            }

            &_left img{       
                width: 80%;
            }

            &_right{
                justify-content: unset;
                .address, .email{
                    p{
                        margin-left: 8px;
                    }
                }
            }
        }
    }
}

@include responsive ('ipad-mini'){

}

@include responsive ('phone'){
    html{
        font-size: 42%;
    }

    .nav{
        display: block;
    }

    header{
        display: none;
    }

    #home{
        padding-top: 60px;
    }

    .home{
        &_title, &_imgWrap{
            margin-left: 0;
        }

        &_img{
            &Wrap{
                font-size: 1.4vw;
            }
            &-end{
                margin-left: 0;
                img{
                    margin-left: auto;
                }
            }
        }
    }

    .menu{
        &_img{
            &-left, &-right{
                img{
                    height: 150px;
                }
            }
        }

        &_orderBurger li{
            margin-bottom: 10px;
        }

        &_orderDes p{
            width: 100%;      
        }
    }
}

@include responsive ('phone-mini'){
    html{
        font-size: 38%;
    }

    // .nav{
    //     display: block;
    // }

    // header{
    //     display: none;
    // }

    // #home{
    //     padding-top: 30px;
    // }

    // .home{
    //     &_title, &_img{
    //         margin-left: 0;
    //     }

    //     &_img{
    //         &-end{
    //             margin-left: 0;
    //             img{
    //                 margin-left: auto;
    //             }
    //         }
    //     }
    // }

    // .menu{
    //     &_img{
    //         &-left, &-right{
    //             img{
    //                 height: 150px;
    //             }
    //         }
    //     }

    //     &_orderBurger li{
    //         margin-bottom: 10px;
    //     }

    //     &_orderDes p{
    //         width: 100%;      
    //     }
    // }
}