@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  -webkit-tap-highlight-color: transparent;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

img {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  color: #3d2514;
}

section {
  padding-bottom: 8rem;
}

.d-flex {
  display: flex;
}

.d-inline-bl {
  display: inline-block;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-sb {
  justify-content: space-between;
}

.align-item-center {
  align-items: center;
}

.align-item-start {
  align-items: flex-start;
}

.shadow {
  width: 90%;
  height: 20px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 0px 68px 14px rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}
.shadow.white {
  width: 60%;
  height: 60%;
  top: 136px;
  box-shadow: 0px -130px 150px rgba(255, 255, 255, 0.45);
}

.nav {
  display: none;
}
.nav input {
  display: none;
}
.nav input:checked ~ .nav__btn .nav__icon {
  background-color: transparent;
}

.nav {
  display: none;
}
.nav .header_sm {
  position: fixed;
  z-index: 1002;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  transition: 0.2s;
}
.nav .header_sm img {
  width: 45%;
}
.nav .header_sm.active {
  background-color: rgba(255, 255, 255, 0.6);
}
.nav input {
  display: none;
}
.nav input:checked ~ .header_sm .nav__btn .nav__icon {
  background-color: transparent;
}
.nav input:checked ~ .header_sm .nav__btn .nav__icon::before {
  top: 0;
  transform: translate(-50%, 0) rotate(45deg);
  background-color: #fff;
}
.nav input:checked ~ .header_sm .nav__btn .nav__icon::after {
  top: 0;
  transform: translate(-50%, 0) rotate(-45deg);
  background-color: #fff;
}
.nav input:checked ~ .nav__bg {
  display: block;
}
.nav input:checked ~ .nav-content {
  left: 0;
}
.nav__btn {
  position: relative;
  cursor: pointer;
  transition: 0.2s ease;
  padding: 0 25px;
  padding-right: 0;
}
.nav__btn .nav__icon,
.nav__btn .nav__icon::after,
.nav__btn .nav__icon::before {
  height: 4px;
  background-color: #3d2514;
  width: 24px;
  display: inline-block;
  position: absolute;
  border-radius: 10rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s ease;
}
.nav__btn .nav__icon::before {
  content: "";
  top: -100%;
}
.nav__btn .nav__icon::after {
  content: "";
  top: 200%;
}
.nav__bg {
  width: 100%;
  height: 100%;
  z-index: 1001;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}
.nav-content {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 1002;
  background: rgba(0, 0, 0, 0.8);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}
.nav-content ul li a {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px 22px 10px 15px;
  width: 100%;
  font-weight: 700;
}
.nav-content ul li a:hover {
  background-color: black;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.col {
  padding-left: 15px;
  padding-right: 15px;
}

.row.gutter-2 {
  margin-left: -20px;
  margin-right: -20px;
}
.row.gutter-2 .col {
  padding-left: 20px;
  padding-right: 20px;
}

.l-0 {
  display: none;
}

.l-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.l-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.l-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.l-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.l-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.l-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.l-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.l-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.l-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.l-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.l-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.l-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

/*Ipad ngang(1024 x 768)*/
/*Ipad dọc(768 x 1024)*/
@media screen and (max-width: 768px) {
  .m-0 {
    display: none;
  }

  .m-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .m-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .m-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .m-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .m-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .m-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .m-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .m-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .m-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .m-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .m-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .m-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/*Tablet nhỏ(480 x 640)*/
/*Iphone(480 x 640)*/
/*Smart phone nhỏ*/
/*Ipad ngang(1024 x 768)*/
/*Ipad dọc(768 x 1024)*/
/*Tablet nhỏ(480 x 640)*/
/*Iphone(480 x 640)*/
@media screen and (max-width: 428px) {
  .s-0 {
    display: none;
  }

  .s-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .s-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .s-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .s-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .s-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .s-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .s-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .s-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .s-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .s-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .s-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .s-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/*Smart phone nhỏ*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 101;
  transition: 0.4s;
  padding-top: 50px;
}
header.active {
  background-color: rgba(255, 255, 255, 0.8);
}

.header_wrap {
  transition: 0.4s;
}
.header_wrap.active {
  transform: translateY(-10px);
}
.header_top .delivery img {
  width: 4rem;
}
.header_top .delivery p {
  font-weight: 700;
  padding-left: 10px;
}
.header_nav ul li a {
  font-weight: 700;
  padding: 10px 25px;
}
.header_nav ul li:last-child a {
  padding-right: 0;
}

.footer_container {
  color: white;
  background-image: url("../imgs/Layer.psb.png");
  background-size: cover;
  background-position: center;
  padding: 0 40px;
  background-color: rgba(0, 0, 0, 0.99);
}
.footer_content {
  padding-top: 8.4rem;
  padding-bottom: 17rem;
}
.footer_left img {
  margin-bottom: 4.8rem;
}
.footer_des {
  line-height: 2.5rem;
  width: 460px;
}
.footer_right {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.footer_rightWr {
  display: inline-block;
}
.footer_rightIcon {
  height: 2.4rem;
  width: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_rightIcon i {
  font-size: 2.2rem;
}
.footer_right .address, .footer_right .email {
  display: flex;
  align-items: center;
  margin-top: 18px;
}
.footer_right .address p, .footer_right .email p {
  text-transform: uppercase;
  margin-left: 28px;
}
.footer_end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2.2rem;
}
.footer_end .coppyright {
  font-size: 1.2rem;
  text-transform: uppercase;
}
.footer_end .social {
  display: flex;
}
.footer_end .social_icon {
  margin-left: 12px;
}
.footer_end .social_icon a {
  height: 3rem;
  width: 3rem;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_end .social_icon a i {
  color: #3d2514;
  font-size: 1.8rem;
}

#home {
  background: linear-gradient(rgba(255, 192, 69, 0.9), rgba(255, 192, 69, 0.9)), url("../imgs/Rectangle.png");
  background-position: center;
  padding-top: 27rem;
}

.home_title-top {
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1.5rem;
  text-transform: uppercase;
  border: 2px dashed #3d2514;
  display: inline-block;
  margin-bottom: 2.4rem;
  margin-top: 1.3rem;
  letter-spacing: -1px;
}
.home_title-mid {
  font-family: "Alfa Slab One", cursive;
  font-size: 9rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 2.7rem;
  text-shadow: 4px 5px 0 #fee8bc;
}
.home_title-end {
  font-family: "Alfa Slab One", cursive;
  font-size: 4.4rem;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 4px 5px 0 #fee8bc;
}
.home_imgWrap {
  position: relative;
  width: 100%;
  margin-left: -40px;
  display: flex;
  font-size: 1rem;
}
.home_img-top {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  bottom: 13.2em;
}
.home_img-top img {
  width: 30.4em;
}
.home_img-mid {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  bottom: 3.9em;
  left: -17.4em;
}
.home_img-mid img {
  width: 42.5em;
}
.home_img-end {
  z-index: 1;
  position: relative;
  bottom: 5.4em;
  left: -28em;
}
.home_img-end img {
  width: 17em;
}
.home_img-price {
  z-index: 3;
  width: 17.4em;
  height: 17.4em;
  background-color: #bf2222;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  padding: 1em;
}
.home_img-price .price-wrap {
  width: 100%;
  height: 100%;
  border: 2px dashed white;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home_img-price .price-wrap p {
  font-size: 6em;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
}
.home_img-price .price-wrap p span {
  font-size: 0.5em;
}
.home_img-price .price-wrap .text {
  font-size: 4.4em;
}

.menu_img {
  padding: 85px 50px;
  padding-bottom: 0;
}
.menu_img img {
  border-radius: 8px;
}
.menu_img .img_left-wrap, .menu_img .img-rightTop, .menu_img .img-rightBottom {
  position: relative;
}
.menu_img-title {
  position: absolute;
  top: 3rem;
  left: 3rem;
}
.menu_img-title p {
  display: grid;
  font-size: 1.6rem;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
}
.menu_img-title p span {
  font-size: 2.4rem;
  font-weight: 500;
  margin-top: 4px;
}
.menu_img-left img {
  width: 100%;
  height: 420px;
  object-fit: cover;
}
.menu_img-right {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}
.menu_img-right img {
  height: 192px;
  object-fit: cover;
  width: 100%;
}
.menu_img-right .img-rightTop p span {
  width: 60%;
}
.menu_btn {
  display: flex;
  justify-content: center;
  margin-top: 7rem;
}
.menu_btn p {
  display: inline-block;
  padding: 1.4rem 2.2rem;
  background-color: #ffc045;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -1px;
}
.menu_orderTitle p {
  font-family: "Alfa Slab One";
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
  margin: 4rem 0;
}
.menu_orderDes {
  display: flex;
  justify-content: center;
}
.menu_orderDes p {
  width: 80%;
  text-align: center;
  line-height: 1.4;
  font-size: 1.8rem;
  margin-bottom: 6.5rem;
}
.menu_orderBurger li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu_orderBurger li .burger_img {
  margin-bottom: 7rem;
  position: relative;
}
.menu_orderBurger li .burger_img img {
  height: 27rem;
  object-fit: contain;
  width: 100%;
}
.menu_orderBurger li .burger_title p {
  font-size: 2.8rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 2.3rem;
}
.menu_orderBurger li .burger_des p {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 3.6rem;
}
.menu_orderBurger li .burger_btn p {
  font-family: "Alfa Slab One";
  text-transform: uppercase;
  font-size: 1.6rem;
  color: white;
  padding: 2.2rem 3.8rem;
  background-color: #bf2222;
  display: inline-block;
}

#discover {
  margin-top: 5rem;
}

.discover_container {
  box-shadow: 19px 25px 43px rgba(0, 0, 0, 0.17);
  overflow: hidden;
  position: relative;
}
.discover_slider {
  display: flex;
  width: 300%;
  position: relative;
}
.discover_slider li {
  padding: 2.5rem;
}
.discover_dot {
  display: flex;
  position: absolute;
  bottom: 6rem;
  left: 5.6rem;
}
.discover_dot .dot {
  width: 1.8rem;
  height: 1.8rem;
  background-color: #dcdcdc;
  border-radius: 50%;
  margin-right: 8px;
  transition: 0.2s;
}
.discover_dot .dot.active {
  background-color: #ffc045;
}
.discover_title {
  margin-bottom: 4rem;
  margin-left: 31px;
}
.discover_title p {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  display: grid;
}
.discover_title p span {
  font-family: "Alfa Slab One";
  font-weight: 400;
  font-size: 3.4rem;
  text-transform: uppercase;
  margin-top: 8px;
}
.discover_des {
  font-size: 1.8rem;
  line-height: 3.333rem;
  margin-left: 3rem;
}
.discover_right img {
  width: 100%;
}

#contact {
  padding-bottom: 10px;
  overflow: hidden;
  position: relative;
}
#contact > img {
  width: 213px;
  position: absolute;
  left: -20px;
  top: -60px;
}

.contact_header {
  display: flex;
  align-items: center;
  margin-bottom: 9rem;
}
.contact_header > img {
  width: 213px;
  transform: translateX(-90px);
  filter: drop-shadow(50px 50px 50px rgba(0, 0, 0, 0.3));
}
.contact_heading {
  position: absolute;
  width: 100%;
}
.contact_subTitle {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2.3rem;
}
.contact_title {
  font-family: "Alfa Slab One";
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
}
.contact_content {
  display: flex;
}
.contact_content .img_left {
  padding: 0 90px;
}
.contact_content .img_left img {
  height: 267px;
  object-fit: contain;
  filter: drop-shadow(32px 37px 50px rgba(0, 0, 0, 0.3));
}
.contact_content .img_right {
  margin-top: 25px;
  transform: translateX(210px);
}
.contact_content .img_right img {
  height: 400px;
  width: 397px;
  object-fit: contain;
  transform: rotate(76deg);
  filter: drop-shadow(4px 0 10px rgba(0, 0, 0, 0.3));
}
.contact_form {
  margin-right: -160px;
}
.contact_form li {
  position: relative;
  margin-bottom: 2.4rem;
}
.contact_form input {
  padding-left: 2.4rem;
  padding-right: 1.6rem;
  display: block;
  border-radius: 5px;
  width: 100%;
  height: 6.5rem;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: #3d2514;
  border: 1px solid #bebebe;
}
.contact_form input::placeholder {
  font-weight: 500;
  text-transform: uppercase;
  color: #3d2514;
}
.contact_form input[type=submit] {
  font-family: "Alfa Slab One";
  text-transform: uppercase;
  font-size: 1.8rem;
  color: white;
  background-color: #bf2222;
  border-radius: 4px;
  border: none;
  padding: 0;
}
.contact_form input#date, .contact_form input#time, .contact_form input[type=submit] {
  cursor: pointer;
}
.contact_form input[type=date]::-webkit-calendar-picker-indicator, .contact_form input[type=time]::-webkit-calendar-picker-indicator {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  cursor: pointer;
}
.contact_form input[type=date]::-webkit-datetime-edit {
  text-transform: uppercase;
}

/*Ipad ngang(1024 x 768)*/
/*Ipad dọc(768 x 1024)*/
/*Tablet nhỏ(480 x 640)*/
/*Iphone(480 x 640)*/
/*Smart phone nhỏ*/
/*Ipad ngang(1024 x 768)*/
/*Ipad dọc(768 x 1024)*/
@media screen and (max-width: 768px) {
  .home_title {
    margin-left: 50px;
    margin-bottom: 50px;
  }
  .home_imgWrap {
    margin-left: 50px;
  }

  #menu {
    padding-bottom: 0;
  }

  .menu_img {
    padding: 5rem 0;
    padding-bottom: 0;
  }
  .menu_img-left img, .menu_img-right img {
    height: 250px;
  }
  .menu_img-right .img-rightTop p span {
    width: unset;
  }
  .menu_img-title {
    width: 40%;
  }
  .menu_img-title p span {
    width: unset;
  }
  .menu_img a {
    margin-bottom: 10px;
  }
  .menu_orderDes p {
    width: 90%;
  }
  .menu_orderBurger li {
    margin-bottom: 40px;
  }

  .discover_title {
    margin-top: 0;
    margin-left: 0;
    text-align: center;
  }
  .discover_des {
    margin-left: 0;
    margin-bottom: 20px;
  }

  .contact_header > img {
    display: none;
  }
  .contact_heading {
    position: unset;
  }
  .contact_content .img_left, .contact_content .img_right {
    display: none;
  }
  .contact_form {
    margin-right: 0;
  }

  footer {
    background-image: url(../imgs/Layer.psb.png);
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.99);
  }
  footer .footer_container {
    background: none;
    padding: 0;
  }
  footer .footer_des {
    width: unset;
  }
  footer .footer_left img {
    width: 80%;
  }
  footer .footer_right {
    justify-content: unset;
  }
  footer .footer_right .address p, footer .footer_right .email p {
    margin-left: 8px;
  }
}
/*Tablet nhỏ(480 x 640)*/
/*Iphone(480 x 640)*/
/*Smart phone nhỏ*/
/*Ipad ngang(1024 x 768)*/
/*Ipad dọc(768 x 1024)*/
/*Tablet nhỏ(480 x 640)*/
/*Iphone(480 x 640)*/
/*Smart phone nhỏ*/
/*Ipad ngang(1024 x 768)*/
/*Ipad dọc(768 x 1024)*/
/*Tablet nhỏ(480 x 640)*/
/*Iphone(480 x 640)*/
@media screen and (max-width: 428px) {
  html {
    font-size: 42%;
  }

  .nav {
    display: block;
  }

  header {
    display: none;
  }

  #home {
    padding-top: 60px;
  }

  .home_title, .home_imgWrap {
    margin-left: 0;
  }
  .home_imgWrap {
    font-size: 1.4vw;
  }
  .home_img-end {
    margin-left: 0;
  }
  .home_img-end img {
    margin-left: auto;
  }

  .menu_img-left img, .menu_img-right img {
    height: 150px;
  }
  .menu_orderBurger li {
    margin-bottom: 10px;
  }
  .menu_orderDes p {
    width: 100%;
  }
}
/*Smart phone nhỏ*/
/*Ipad ngang(1024 x 768)*/
/*Ipad dọc(768 x 1024)*/
/*Tablet nhỏ(480 x 640)*/
/*Iphone(480 x 640)*/
/*Smart phone nhỏ*/
@media screen and (max-width: 320px) {
  html {
    font-size: 38%;
  }
}

/*# sourceMappingURL=app.css.map */
