@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

img {
  display: block;
  max-width: 100%;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  line-height: 1;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #3d2514;
}

section {
  padding-bottom: 80px;
}

.d-flex {
  display: flex;
}

.d-inline-bl {
  display: inline-block;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-sb {
  justify-content: space-between;
}

.aligt-item-center {
  align-items: center;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.col {
  padding-left: 15px;
  padding-right: 15px;
}

.row.gutter-2 {
  margin-left: -20px;
  margin-right: -20px;
}
.row.gutter-2 .col {
  padding-left: 20px;
  padding-right: 20px;
}

.l-0 {
  display: none;
}

.l-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.l-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.l-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.l-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.l-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.l-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.l-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.l-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.l-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.l-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.l-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.l-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

/*Ipad ngang(1024 x 768)*/
/*Ipad dọc(768 x 1024)*/
@media screen and (max-width: 768px) {
  .m-0 {
    display: none;
  }

  .m-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .m-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .m-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .m-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .m-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .m-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .m-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .m-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .m-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .m-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .m-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .m-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/*Tablet nhỏ(480 x 640)*/
/*Iphone(480 x 640)*/
/*Smart phone nhỏ*/
/*Ipad ngang(1024 x 768)*/
/*Ipad dọc(768 x 1024)*/
/*Tablet nhỏ(480 x 640)*/
/*Iphone(480 x 640)*/
@media screen and (max-width: 428px) {
  .s-0 {
    display: none;
  }

  .s-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .s-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .s-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .s-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .s-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .s-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .s-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .s-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .s-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .s-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .s-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .s-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/*Smart phone nhỏ*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 101;
}

.header_wrap {
  padding-top: 50px;
}
.header_top .delivery img {
  width: 41px;
}
.header_top .delivery p {
  font-weight: 700;
  padding-left: 10px;
}
.header_nav ul li a {
  font-weight: 700;
  padding: 10px 25px;
}
.header_nav ul li:last-child a {
  padding-right: 0;
}

/*Ipad ngang(1024 x 768)*/
/*Ipad dọc(768 x 1024)*/
/*Tablet nhỏ(480 x 640)*/
/*Iphone(480 x 640)*/
/*Smart phone nhỏ*/
/*Ipad ngang(1024 x 768)*/
/*Ipad dọc(768 x 1024)*/
/*Tablet nhỏ(480 x 640)*/
/*Iphone(480 x 640)*/
/*Smart phone nhỏ*/
/*Ipad ngang(1024 x 768)*/
/*Ipad dọc(768 x 1024)*/
/*Tablet nhỏ(480 x 640)*/
/*Iphone(480 x 640)*/
/*Smart phone nhỏ*/
/*Ipad ngang(1024 x 768)*/
/*Ipad dọc(768 x 1024)*/
/*Tablet nhỏ(480 x 640)*/
/*Iphone(480 x 640)*/
/*Smart phone nhỏ*/
/*Ipad ngang(1024 x 768)*/
/*Ipad dọc(768 x 1024)*/
/*Tablet nhỏ(480 x 640)*/
/*Iphone(480 x 640)*/
/*Smart phone nhỏ*/
#home {
  background-image: linear-gradient(54deg, rgba(255, 192, 69, 0.8), rgba(255, 192, 69, 0.9)), url("../imgs/Rectangle.png");
  padding-top: 213px;
}

.home_title-top {
  font-size: 18px;
  font-weight: 700;
  padding: 15px;
  text-transform: uppercase;
  border: 2px dashed #3d2514;
  display: inline-block;
  margin-bottom: 24px;
  letter-spacing: -1px;
}
.home_title-mid {
  font-family: "Alfa Slab One", cursive;
  font-size: 90px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 27px;
  text-shadow: 4px 5px 0 #fee8bc;
}
.home_title-end {
  font-family: "Alfa Slab One", cursive;
  font-size: 44px;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 4px 5px 0 #fee8bc;
}
.home_img {
  display: flex;
  position: relative;
}
.home_img-top {
  width: 304px;
  z-index: 1;
  position: absolute;
  bottom: 132px;
  left: 0;
}
.home_img-mid {
  width: 425px;
  z-index: 2;
  position: absolute;
  bottom: 39px;
  left: 128px;
}
.home_img-end {
  width: 172px;
  z-index: 1;
  margin-left: 410px;
  margin-bottom: 54px;
}
.home_img-price {
  z-index: 3;
  width: 174px;
  height: 174px;
  background-color: #bf2222;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  padding: 10px;
}
.home_img-price .price-wrap {
  width: 100%;
  height: 100%;
  border: 2px dashed white;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home_img-price .price-wrap p {
  font-size: 60px;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
}
.home_img-price .price-wrap p span {
  font-size: 30px;
}
.home_img-price .price-wrap .text {
  font-size: 44px;
}

.menu_img {
  padding: 85px 50px;
  padding-bottom: 0;
}
.menu_img img {
  border-radius: 8px;
}
.menu_img .img_left-wrap, .menu_img .img-rightTop, .menu_img .img-rightBottom {
  position: relative;
}
.menu_img-title {
  position: absolute;
  top: 30px;
  left: 30px;
}
.menu_img-title p {
  display: grid;
  font-size: 16px;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
}
.menu_img-title p span {
  font-size: 24px;
  font-weight: 500;
  margin-top: 4px;
}
.menu_img-left img {
  width: 100%;
  height: 420px;
  object-fit: cover;
}
.menu_img-right {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}
.menu_img-right img {
  height: 192px;
  object-fit: cover;
  width: 100%;
}
.menu_btn {
  display: flex;
  justify-content: center;
}
.menu_btn p {
  display: inline-block;
  padding: 14px 22px;
  background-color: #ffc045;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -1px;
  margin-top: 70px;
}
.menu_orderTitle p {
  font-family: "Alfa Slab One";
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  margin: 40px 0;
}
.menu_orderDes {
  display: flex;
  justify-content: center;
}
.menu_orderDes p {
  width: 1055px;
  text-align: center;
  line-height: 1.4;
  font-size: 18px;
  margin-bottom: 65px;
}
.menu_orderBurger li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu_orderBurger li .burger_img {
  margin-bottom: 71px;
}
.menu_orderBurger li .burger_img img {
  height: 271px;
  object-fit: contain;
}
.menu_orderBurger li .burger_title p {
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 23px;
}
.menu_orderBurger li .burger_des p {
  font-size: 18px;
  text-align: center;
  margin-bottom: 36px;
}
.menu_orderBurger li .burger_btn p {
  font-family: "Alfa Slab One";
  text-transform: uppercase;
  color: white;
  padding: 22px 38px;
  background-color: #bf2222;
  display: inline-block;
}

#discover {
  margin-top: 50px;
}

.discover_container {
  box-shadow: 19px 25px 43px rgba(0, 0, 0, 0.17);
}
.discover_wrap {
  padding: 25px;
}
.discover_title {
  margin-bottom: 40px;
}
.discover_title p {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  display: grid;
}
.discover_title p span {
  font-family: "Alfa Slab One";
  font-weight: 400;
  font-size: 34px;
  text-transform: uppercase;
  margin-top: 8px;
}
.discover_des {
  font-size: 18px;
  line-height: 33.33px;
}

.contact_subTitle {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin-bottom: 23px;
}
.contact_title {
  font-family: "Alfa Slab One";
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 90px;
}
.contact_formWr {
  display: flex;
  overflow: hidden;
}
.contact_formWr .img_left {
  padding: 0 90px;
}
.contact_formWr .img_left img {
  height: 267px;
  object-fit: contain;
}
.contact_formWr .img_right img {
  height: 400px;
  transform: translateX(40%);
}

/*# sourceMappingURL=app.css.map */
